.top-banner-box
{
    position: relative;
    height: 476px;
    width: 1440px;
    margin: auto auto;
    margin-top: 10px;
}

.img-banner
{
    position: absolute;
    height: 476px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto auto;
}

.inner-title
{
    height: 137px;
    width: 854px;
    position: absolute;
    top: 15px;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.title-nm
{
    font-size: 100px;
    text-align: center;
    margin-bottom: auto;
    margin-top: auto;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 5px;
    font-weight: 100;
}

.followbtn
{
    height: 50px;
    width: 250px;
    border: none;
    background-color: #0076FF;
    border-radius: 40px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
    font-size: 18px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.followbtn:hover
{
    border: 2px #0076FF solid;
    color: #0076FF;
    background-color: transparent;
}

.banner-btm
{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    background-color: #111111;
}

.inner-btm-box
{
    height: 72px;
    width: 563px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto auto;
}
 
.one
{
    width: 100px;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}

.two
{
    width: 100px;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto auto;
    text-align: center;
}
 
.three
{
    width: 100px;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    text-align: center;
}

.txt-up, .txt-btm
{
    font-family: 'Courier New', Courier, monospace;
    color: white;
}